@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Special+Elite&display=swap');

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;

}

.about {
    background-image: url(../img/about_background.jpg);
    background-size: cover;
}

.header {
    width: 90%;
    margin-top: 80px;
    display: grid;
}

.about .header {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 2em;
}

.image-container {
    position: relative;
    width: 500px;
    display: inline-block;
    align-self: start;
}

.about .header .image-container {
    margin-top: 25px;
}

.image-container img {
    width: 100%;
    height: auto;
    transform: rotate(-5deg);
}

.image-container h1 {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%) rotate(-5deg);
  color: #c1282d;
  font-family: 'Indie Flower', cursive;
  font-size: 2.6em;
  text-align: center;
}

.header>p {
    color: #ee2b31;
    font-family: 'Special Elite', 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5;
    display: block;
    justify-self: center;
    max-width: 20em;
    align-self: start;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(370px, 1fr) );
    gap: 2em;
    width: 90%;
    padding-bottom: 2em;
}

.grid h2 {
    color: #ee2b31;
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    text-align: center;
    grid-column: 1 / -1;
    text-align: left;
}

.grid-item {
    background-image: url(../img/paper_strip_bg.png);
    background-size: cover;
}

.grid-item p {
    padding: 20px;
    color: #c1282d;
    font-family: 'Special Elite', 'Courier New', Courier, monospace;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
}

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

@media (max-width: 600px) {
    .about .header {
        grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    }

    .image-container {
        width: 450px;
    }
}

@media (max-width: 500px) {
    .about .header {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .image-container {
        width: 300px;
    }

    .image-container h1 {
        font-size: 2em;
    }

    .header>p {
        font-size: 1.2em;
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
    }
}