@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Special+Elite&display=swap');

.archive {
    background-image: url(../img/archive_background.jpg);
    background-size: cover;
}

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    text-decoration: none;
}