@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Special+Elite&display=swap');

.latest-volume {
    justify-content: center;
    gap: 2em;
    background-image: url(../img/view_zine_background.jpg);
    background-size: cover;
    overflow-x: hidden;
}

.image-container.cta {
    align-self: flex-end;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 50px;
}

.image-container.cta img {
    transform: rotate(5deg);
}

.image-container h1, .image-container p {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 100%;
}

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.zine-embed {
    min-height: 80vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.zine-embed p {
    font-family: 'Special Elite', 'Courier New', Courier, monospace;
    font-size: 1.2em;
    color: #000;
    text-align: center;
    margin-top: 2em;
    background-color: #fff;
    padding: 1em;
}