@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Special+Elite&display=swap');

.about {
    min-height: 100vh;
    width: 100%;
    background-image: url(./img/about_background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.about-header {
    margin: 65px 1em 0px 1em;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.image-container {
    position: relative;
    width: 500px;
    flex-shrink: 0;
}

.image-container img {
    width: 100%;
    height: auto;
    transform: rotate(-5deg);
}

.image-container h1 {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%) rotate(-5deg);
  color: #c1282d;
  font-family: 'Indie Flower', cursive;
  font-size: 2.6em;
  text-align: center;
}

.about-header>p {
    max-width: 40%;
    color: #ee2b31;
    font-family: 'Special Elite', 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(370px, 1fr) );
    gap: 2em;
    width: 90%;
    padding-bottom: 2em;
}

.about-grid h2 {
    color: #ee2b31;
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    text-align: center;
    grid-column: 1 / -1;
    text-align: left;
}

.about-grid-item {
    background-image: url(./img/paper_strip_bg.png);
    background-size: cover;
}

.about-grid-item p {
    padding: 20px;
    color: #c1282d;
    font-family: 'Special Elite', 'Courier New', Courier, monospace;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
}

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    text-decoration: none;
}