@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Special+Elite&display=swap');

.hero {
  background-color: #000;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

h1.hero-title {
  font-family: 'Indie Flower', cursive;
  font-size: 2.6em;
  margin: 0;
  color: rgb(193, 40, 45);
  text-align: left;
  margin-left: 3em;
  align-self: flex-end;
  text-transform: uppercase;
  opacity: 1;
}

span.title {
  font-family: 'Special Elite', 'Courier New', Courier, monospace;
  font-size: 3em;
}

.hero-image {
  max-width: 40%;
  height: auto;
  margin-top: 12.5%;
}

.info {
  background-image: url('img/hands_background.jpg');
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info > h2 {
  font-family: 'Special Elite', 'Courier New', Courier, monospace;
  font-size: 3em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.info > a > button {
  font-family: 'Special Elite', 'Courier New', Courier, monospace;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 1em 2.5em;
  background-color: #fff;
  color: #000;
  border: 2px solid #fff;
  cursor: pointer;
}